@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&&display=swap");
body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px;
  color: var(--dark-500);
  background-color: var(--light);
}

:root {
  --light: #fff;
  --blue-100: #F9FAFF;
  --blue-150: #DCEFFF;
  --blue-500: #42A5F5;
  --blue-700: #008AF9;
  --blue-900: #05529E;
  --red-100: #FFDDDC;
  --red-300: #EC5350;
  --red-500: #E53935;
  --green-500: #4CD7AB;
  --green-700: #1EFFB8;
  --yellow-500: #F5B815;
  --yellow-600: #E7A600;
  --dark-10: #ECECEC;
  --dark-50: #EEEEEE;
  --dark-100: #FCFCFC;
  --dark-150: #F9F9F9;
  --dark-200: #C9C9C9;
  --dark-300: #939393;
  --dark-400: #4B4B4B;
  --dark-500: #232323;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
.text-bold {
  text-transform: capitalize;
  font-weight: 700;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.section-padding {
  padding: 70px 0;
}

.text-gradient {
  color: var(--blue-500);
}

.btn-base {
  display: inline-block;
  border-radius: 5px;
  color: var(--light);
  border: 1px solid transparent;
  text-transform: capitalize;
  outline: none;
  box-shadow: none;
}
.btn-base:hover {
  transform: translateY(-8px);
  box-shadow: none;
  outline: none;
}

.btn-blue-white {
  background-color: var(--blue-500);
}
.btn-blue-white:hover, .btn-blue-white:focus {
  color: var(--blue-500);
  background-color: transparent;
  border: 1px solid var(--blue-500);
}

.btn-light-blue {
  color: var(--blue-500);
  border: 1px solid var(--blue-500);
}
.btn-light-blue:hover, .btn-light-blue:focus {
  color: var(--light);
  background-color: var(--blue-500);
  border: 1px solid var(--blue-500);
}

.btn-red-green {
  color: var(--light);
  background-color: var(--red-500);
}
.btn-red-green:hover, .btn-red-green:focus {
  color: var(--light);
  background-color: var(--green-500);
}

.btn-white-red {
  color: #003763;
  background-color: var(--light);
}
.btn-white-red:hover, .btn-white-red:focus {
  color: var(--light);
  background-color: var(--red-500);
}

.btn-base-small {
  padding: 10px 30px;
}

.btn-base {
  text-decoration: none;
}
.btn-base:hover, .btn-base:focus {
  text-decoration: none;
}

.btn-base {
  transition: 0.3s ease-in;
}

.award-about-list {
  display: grid;
  grid-template-columns: repeat(2, 420px);
  margin-inline: auto;
  max-width: 800px;
  list-style: none;
  padding: 0;
}

.award-about-item__title {
  font-size: 0.875rem;
}

.award-about-item {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 20px;
}

.award-about-item__bend,
.award-about-item__nomination {
  font-size: 11px;
}

.award-about-item__nomination {
  margin-bottom: 32px;
}

.award-about-item__bend {
  line-height: 1.1;
  color: #818181;
}

.award-about-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.award-about-item img {
  display: inline-block;
  margin-left: 30px;
}

.award-about-item {
  position: relative;
}

.award-about-item::after,
.award-about-item::before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 71px;
  height: 163px;
  background-image: url("../img/branch.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.award-about-item::after {
  right: 0;
  left: unset;
  background-image: url("../img/branch-right.svg");
  background-position: center right;
}

@media (max-width: 991.98px) {
  .award-about-list {
    display: grid;
    grid-template-columns: repeat(2, 360px);
  }
  .award-about-item img {
    width: 30%;
    margin-left: 40px;
  }
  .award-about-item::after,
.award-about-item::before {
    width: 69px;
    height: 120px;
    background-size: contain;
  }
  .award-about-item {
    gap: 20px;
  }
}
@media (max-width: 767.98px) {
  .award-about-list {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 370px;
  }
  .award-about-item {
    max-width: 370px;
  }
}
@media (max-width: 575.98px) {
  .award-about-item {
    gap: 10px;
    max-width: 300px;
  }
  .award-about-list {
    gap: 20px;
    justify-items: center;
  }
  .award-about-item__title {
    font-size: 12px;
  }
  .award-about-item__nomination {
    font-size: 9px;
  }
  .award-about-item img {
    margin-left: 20px;
  }
  .award-about-item__nomination {
    margin-bottom: 20px;
    font-size: 9px;
  }
}/*# sourceMappingURL=style.css.map */