@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&&display=swap");

$font-size-50-30: clamp(1.88rem, calc(1.33rem + 2.31vw), 3.13rem);
$font-size-40-18: clamp(1.13rem, calc(0.53rem + 2.54vw), 2.50rem);
$font-size-30-16: clamp(1.00rem, calc(0.62rem + 1.62vw), 1.88rem);
$font-size-24-16: clamp(1.00rem, calc(0.78rem + 0.92vw), 1.50rem);
$font-size-18-14: clamp(0.88rem, calc(0.77rem + 0.46vw), 1.13rem);
$font-size-16-13: clamp(0.81rem, calc(0.73rem + 0.35vw), 1.00rem);

$font-size-16: 1rem;
$font-size-14: 0.875rem;
$font-size-13: 0.813rem;
$font-size-8: 0.5rem;



body {
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: $font-size-16;
    font-weight: 400;
    line-height: 30px;
    color: var(--dark-500);
    background-color: var(--light);
}

:root {
    --light: #fff;
    --blue-100: #F9FAFF;
    --blue-150: #DCEFFF;
    --blue-500: #42A5F5;
    --blue-700: #008AF9;
    --blue-900: #05529E;

    --red-100: #FFDDDC;
    --red-300: #EC5350;
    --red-500: #E53935;

    --green-500: #4CD7AB;
    --green-700: #1EFFB8;
    --yellow-500: #F5B815;
    --yellow-600: #E7A600;

    --dark-10: #ECECEC;
    --dark-50: #EEEEEE;
    --dark-100: #FCFCFC;
    --dark-150: #F9F9F9;
    --dark-200: #C9C9C9;
    --dark-300: #939393;
    --dark-400: #4B4B4B;
    --dark-500: #232323;
}


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
.text-bold {
    text-transform: capitalize;
    font-weight: 700;
}

h1,
h2,
h3,
p {
    margin: 0;
}



img {
    max-width: 100%;
    display: block;
    height: auto;
}

.section-padding {
    padding: 70px 0;
}

.text-gradient {
    color: var(--blue-500);
}


.btn-base {
    @extend %link-defaults;
    display: inline-block;
    border-radius: 5px;
    color: var(--light);
    border: 1px solid transparent;
    text-transform: capitalize;

    outline: none;
    box-shadow: none;

    @extend %base-transition;

    &:hover {
        transform: translateY(-8px);
        box-shadow: none;
        outline: none;
    }
}

.btn-blue-white {
    background-color: var(--blue-500);

    &:hover,
    &:focus {
        color: var(--blue-500);
        background-color: transparent;
        border: 1px solid var(--blue-500);
    }
}


.btn-light-blue {
    color: var(--blue-500);
    border: 1px solid var(--blue-500);

    &:hover,
    &:focus {
        color: var(--light);
        background-color: var(--blue-500);
        border: 1px solid var(--blue-500);
    }
}

.btn-red-green {
    color: var(--light);
    background-color: var(--red-500);

    &:hover,
    &:focus {
        color: var(--light);
        background-color: var(--green-500);
    }
}

.btn-white-red {
    color: #003763;
    background-color: var(--light);

    &:hover,
    &:focus {
        color: var(--light);
        background-color: var(--red-500);
    }
}



.btn-base-small {
    padding: 10px 30px;
}



@mixin flex-grid($width, $gap) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($width, 1fr));
    gap: $gap;
}

@mixin center-flex ($type: "all") {
    display: flex;

    @if($type =='all') {
        justify-content: center;
        align-items: center;
    }

    @if ($type =="ver") {
        align-items: center;
    }

    @if ($type =="hor") {
        justify-content: center;
    }
}

%list-default {
    list-style: none;
    padding: 0;
    margin: 0;
}

%link-defaults {
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

%base-transition {
    transition: .3s ease-in;
}



.award-about-list {
    display: grid;
    grid-template-columns: repeat(2, 420px);
    margin-inline: auto;
    max-width: 800px;

    list-style: none;
    padding: 0;
}



.award-about-item__title {
    font-size: $font-size-14;
}

.award-about-item {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 20px;
}


.award-about-item__bend,
.award-about-item__nomination {
    font-size: 11px;
}

.award-about-item__nomination {
    margin-bottom: 32px;
}


.award-about-item__bend {
    line-height: 1.1;
    color: #818181;
}


.award-about-item {
    display: flex;
    align-items: center;
    padding: 10px;
}


.award-about-item img {
    display: inline-block;
    margin-left: 30px;
}

.award-about-item {
    position: relative;

}


.award-about-item::after,
.award-about-item::before {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 71px;
    height: 163px;
    background-image: url('../img/branch.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.award-about-item::after {
    right: 0;
    left: unset;
    background-image: url('../img/branch-right.svg');
    background-position: center right;
}

@media (max-width:991.98px) {
    .award-about-list {
        display: grid;
        grid-template-columns: repeat(2, 360px);
    }

    .award-about-item img {
        width: 30%;
        margin-left: 40px;
    }

    .award-about-item::after,
    .award-about-item::before {
        width: 69px;
        height: 120px;
        background-size: contain;
    }

    .award-about-item {
        gap: 20px;
    }
}


@media (max-width:767.98px) {
    .award-about-list {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 370px;
    }

    .award-about-item {
        max-width: 370px;
    }
}

@media (max-width:575.98px) {
    .award-about-item {
        gap: 10px;
        max-width: 300px;
       
    }

    .award-about-list {
        gap: 20px;
        justify-items: center;
    }

    .award-about-item__title {
        font-size: 12px;
    }

    .award-about-item__nomination {
        font-size: 9px;
    }

    .award-about-item img {
        margin-left: 20px;
    }

    .award-about-item__nomination {
        margin-bottom: 20px;
        font-size: 9px;
    }
}