@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&&display=swap");
body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px;
  color: var(--dark-500);
  background-color: var(--light);
}

:root {
  --light: #fff;
  --blue-100: #F9FAFF;
  --blue-150: #DCEFFF;
  --blue-500: #42A5F5;
  --blue-700: #008AF9;
  --blue-900: #05529E;
  --red-100: #FFDDDC;
  --red-300: #EC5350;
  --red-500: #E53935;
  --green-500: #4CD7AB;
  --green-700: #1EFFB8;
  --yellow-500: #F5B815;
  --yellow-600: #E7A600;
  --dark-10: #ECECEC;
  --dark-50: #EEEEEE;
  --dark-100: #FCFCFC;
  --dark-150: #F9F9F9;
  --dark-200: #C9C9C9;
  --dark-300: #939393;
  --dark-400: #4B4B4B;
  --dark-500: #232323;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
.text-bold {
  text-transform: capitalize;
  font-weight: 700;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.section-padding {
  padding: 70px 0;
}

.text-gradient {
  color: var(--blue-500);
}

.btn-base {
  display: inline-block;
  border-radius: 5px;
  color: var(--light);
  border: 1px solid transparent;
  text-transform: capitalize;
  outline: none;
  box-shadow: none;
}
.btn-base:hover {
  transform: translateY(-8px);
  box-shadow: none;
  outline: none;
}

.btn-blue-white {
  background-color: var(--blue-500);
}
.btn-blue-white:hover, .btn-blue-white:focus {
  color: var(--blue-500);
  background-color: transparent;
  border: 1px solid var(--blue-500);
}

.btn-light-blue {
  color: var(--blue-500);
  border: 1px solid var(--blue-500);
}
.btn-light-blue:hover, .btn-light-blue:focus {
  color: var(--light);
  background-color: var(--blue-500);
  border: 1px solid var(--blue-500);
}

.btn-red-green {
  color: var(--light);
  background-color: var(--red-500);
}
.btn-red-green:hover, .btn-red-green:focus {
  color: var(--light);
  background-color: var(--green-500);
}

.btn-white-red {
  color: #003763;
  background-color: var(--light);
}
.btn-white-red:hover, .btn-white-red:focus {
  color: var(--light);
  background-color: var(--red-500);
}

.btn-base-small {
  padding: 10px 30px;
}

.btn-base {
  text-decoration: none;
}
.btn-base:hover, .btn-base:focus {
  text-decoration: none;
}

.btn-base {
  transition: 0.3s ease-in;
}

.award-why-title {
  font-size: clamp(1rem, 0.62rem + 1.62vw, 1.88rem);
}

.award-why {
  padding: 30px 0;
}

.award-why-list {
  display: grid;
  grid-template-columns: repeat(2, 470px);
  gap: 10px;
  max-width: 950px;
  margin-inline: auto;
  padding: 0;
}

.award-why-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
}

.award-why-item::after,
.award-why-item::before {
  position: absolute;
  top: 30px;
  left: 0;
  display: inline-block;
  content: "";
  width: 100px;
  height: 200px;
  background-image: url("../img/branch-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  z-index: -1;
}

.award-why-item__header {
  margin-left: 10px;
}

.award-why-item img {
  margin-left: 50px;
}

.award-why-item::after {
  right: 0;
  left: unset;
  background-image: url("../img/branch-right.svg");
}

.award-why-item__brent {
  font-size: 14px;
}

.award-why-item__brent,
.award-why-item__nomination {
  margin-bottom: 0;
}

.award-why-item__nomination {
  font-size: 12px;
}

.award-why-item__brent {
  font-weight: 200;
  color: #797979;
  line-height: 1.1;
  font-size: 0.875rem;
}

.award-why-item__nomination {
  margin-bottom: 32px;
}

@media (max-width: 991.98px) {
  .award-why-list {
    grid-template-columns: repeat(2, 340px);
    gap: 30px;
  }
  .award-why-item::after,
.award-why-item::before {
    top: 0;
  }
  .award-why-item::before {
    left: -20px;
  }
  .award-why-item::after {
    right: -20px;
  }
  .award-why-item img {
    width: 30%;
    margin-left: 20px;
  }
}
@media (max-width: 767.98px) {
  .award-why-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .award-why-item {
    padding: 0;
  }
  .award-why-item::after,
.award-why-item::before {
    top: 20px;
    width: 60px;
    height: 70px;
    background-size: contain;
  }
  .award-why-item__brent,
.award-why-item__nomination,
.award-why-item__title {
    font-size: 10px;
  }
  .award-why-item__nomination {
    margin-bottom: 10px;
  }
  .award-why-item img {
    margin-left: 10px;
  }
  .award-why-item__header {
    margin-left: 8px;
  }
  .award-why-item__title {
    line-height: 1.1;
  }
}
@media (max-width: 575.98px) {
  .award-why-list {
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 370px;
    justify-items: center;
    margin-inline: auto;
  }
  .award-why-item {
    width: 240px;
  }
  .award-why-item::after, .award-why-item::before {
    top: 15px;
  }
}/*# sourceMappingURL=style.css.map */